<div class="container-fluid" style="margin-top:-20px; ">

  <div class="row">

    <div class="col-md-3" style="background-color:#0064c8;height:100vh;">

      <div class="row">
        <div class="col-sm-12" style="background-color:rgba(255,255,255,.2);color:white;margin-top:50px;">
          <h3 class="text-center"><%= link_to "Lists", lists_path, :style => "color:white;" %></h3>
          <hr>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12" style="background-color:rgba(255,255,255,.2);color:white;">
          <ul style="list-style-type:none;margin-left:25px;padding-left:0px;">
            <% @lists.each do |list| %>
              <% if list.todos.count == 0 %>
                <% complete = "no tasks" %>
              <% else %>
                <% complete = number_to_percentage(list.completed * 100, :precision => 2)+ ' complete'%>
              <% end %>
               <li style="padding-bottom:5px;"><%= link_to list.date.strftime('%B %d, %Y')+' - '+ complete, list_path(list.id), :style => "color:white;" %>
            <% end %>
          </ul>
          <br>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12" style="background-color:rgba(255,255,255,.2);color:white;">
          <hr>
          <h5 class="text-center"><%= link_to @unassigned.todos.count.to_s+" unassigned tasks", list_path(@unassigned.id), :style => "color:white;" %></h5>
          <hr>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12" style="background-color:rgba(255,255,255, .2);">
          <h6 class="text-center"><%= link_to "Create New List", new_list_path, :class => "btn btn-sm btn-default" %></h6>
          <hr>
        </div>
      </div>

    </div>

    <div class="col-md-8 col-md-offset-1">
    </div>

  </div>

</div>
